* {
  box-sizing: border-box;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

:root {
	--color-primary: #FF1B1C;
	--color-secondary: #2f5e86;
	--color-accent: #77a3c9;
	
	--color-background1: #F7F7FF;
	--color-background2: #2c2c2c;
	
	--color-text1: #555;
	--color-text2: #ffffff;
	--color-muted: #ddd;

	--color-success: #4BB543;
	--color-info: #06b6d4;
	--color-warning: #f59e0b;
	--color-error: #ef4444;
}

body,
html {
  color: var(--color-text1);
  margin: 0;
  padding: 0;
  background-color: var(--color-background1);
  overflow: hidden;
}

#root {
  height: 100vh;
}

.main-content-wrapper{
	background-color: var(--color-background1);
	min-height: 100vh;
	width: 100%;
}