

.nav-bar{
	background-color: var(--color-background2);
	height: 10vh;
	min-height: 50px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	color: var(--color-text2);
	font-size: 16px;
}

.nav-bar .nav-left{
	height: 100%;
	padding-left: 60px;
	display: flex;
	justify-content: start;
	align-items: center;
}

.nav-bar .nav-middle{
	height: 100%;
	padding: 0 20px;
	display: flex;
	justify-content: start;
	align-items: center;
}

.nav-bar .nav-right{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: end;
}

.logout-icon {
	height: 100%;
	display: flex;
	justify-content: start;
	align-items: center;
	margin-right: 40px;
}
.logout-icon button {
	font-size: 2em;
	border: none;
	background: none;
	color: var(--color-text2);
	cursor: pointer;
}

.nav-logo{
	font-size: 28px;
	color: var(--color-text2);
	text-decoration: none;
	text-shadow: 2px 2px 5px var(--color-primary);
	font-weight: bold;
}

.nav-item{
	font-size: 20px;
	color: var(--color-text2);
	text-decoration: none;
	margin-right: 2em;
	cursor: pointer;
}
.nav-item:hover{
	color: var(--color-primary);
	transition-duration: 0.6s;
}
.nav-item-selected{
	color: var(--color-primary);
	border-bottom: 3px solid var(--color-primary);
	font-weight: bold;
}

.nav-user, .nav-role{
	font-size: 16px;
	text-align: center;
}